page-home {

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

ion-card-content{
  align-content: center;
  background-color: "secondary";
  color: "light";
}

ion-title{
  font-weight: bold;
  font-family: sans-serif;
}

h1{
  font-weight: bold;
  color: "light";
}

h3{
  font-weight: bold;
  color: "light";
}

}
