<ion-content padding>
 <ion-card>
  <ion-card-content>
    <h1>{{ name }}</h1>
    <h3>{{ age }}</h3>
    <br>
    <h3>"{{ blurb }}"</h3>
    <br>
    Likes
    <br>
    <button ion-button *ngFor="let like of likes">
      {{ like }}
    </button>

    <br>
    Dislikes

    <br>
    <button ion-button *ngFor="let dislike of dislikes">
      {{ dislike }}
    </button>
    <br>
    Hobbies

    <br>
    <button ion-button *ngFor="let hobby of hobbies">
      {{ hobby }}
    </button>
    <br>
    Hangouts

    <br>
    <button ion-button *ngFor="let place of places">
      {{ place }}
    </button>
  </ion-card-content>

</ion-card>
</ion-content>
