page-createdProfile {

ion-card-content {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 400px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color: #ffffff;
  font-weight: bold;
}

}
